%header
  .header_base
    %h1
      = link_to image_tag("http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/logo_top.png"), "/"
  .contents.row_a
    .container
      = form_for @tweet do |form|
        %h3
          Post
        = form.text_field :name, placeholder: "Nickname"
        = form.text_field :image, placeholder: "Image Url"
        = form.text_area :text, placeholder: "text" , rows: "10"
        = form.submit "SEND"
