%header
  .header_base
    %h1
      = link_to image_tag("http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/logo_top.png"), tweets_path(current_user)
  .contents.row
    .content_post{:style => "background-image: url(#{@tweet.image});"}
      - if user_signed_in? && current_user.id == @tweet.user_id
        .more
          %span= image_tag 'arrow_top.png'
          %ul.more_list
            %li
              = link_to 'Edit', "/tweets/#{@tweet.id}/edit", method: :get
            %li
              = link_to 'Destroy', "/tweets/#{@tweet.id}", method: :delete
        = simple_format(@tweet.text)
        %span.name
          Contributor
          = @tweet.user.name
    .container
      - if current_user
        = form_for [@tweet, @comment] do |form|
          = form.text_area :text, placeholder: "Comment", rows: "2"
          = form.submit "SEND"
      - else
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
      .comments
        %h4 ＜Comment list＞
        - if @comments
          - @comments.each do |comment|
            %p
              %strong
                = link_to comment.user.name, "/users/#{comment.user_id}"
                = comment.text
  %footer
    .content_base
      %p.copyright
        %img{:alt => "copyright", :height => "8", :src => "http://www.oneokrock.com/wp-content/themes/oor_pc/images/common/copyright.png", :width => "179"}/